MONGO_URI=mongo-uri
JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=expiry-date (e.g, 1d)
PORT=server-port-number
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
